<section id="slider">
  <input type="radio" name="slider" id="s1" />
  <input type="radio" name="slider" id="s2" />
  <input type="radio" name="slider" id="s3" checked />

  <label for="s1" id="slide1"
    ><img src="/images/img1.avif" class="w-100 h-[100%]" alt=""
  /></label>
  <label for="s2" id="slide2"
    ><img src="/images/grocery-banner.png" class="w-100 h-[100%]" alt=""
  /></label>
  <label for="s3" id="slide3"
    ><img src="/images/grocery-banner-2.jpeg" class="w-100 h-[100%]" alt=""
  /></label>
</section>
