<section class="z-20 sticky">
  <div class="flex justify-center items-center flex-col">
    @if(step()===1){
    <div class="content w-[100%] sm:w-[70%]">
      <h1 class="text-[#D19C97] text-3xl mb-2 font-light text-center">
        Forget Password
      </h1>
      <form [formGroup]="verifyEmail" (ngSubmit)="verifyEmailSubmit()">
        <div class="field mb-6">
          <input type="email" formControlName="email" placeholder="Email" />
        </div>
        @let emailControl=verifyEmail.get('email'); @if
        (emailControl?.errors&&emailControl?.touched) {
        <div
          class="flex p-2 mt-2 mb-2 rounded text-sm text-white bg-[#D19C97] dark:bg-gray-800 dark:text-blue-400"
          role="alert"
        >
          <svg
            class="shrink-0 inline w-4 h-4 me-2 mt-[2px]"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 20 20"
          >
            <path
              d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
            />
          </svg>
          <span class="sr-only">Info</span>
          <div>
            <ul class="mt-1.5 list-disc list-inside">
              @if (emailControl?.getError('required')) {
              <li>Email Is Required</li>
              } @else if (emailControl?.getError('email')) {
              <li>Enter Valid Email</li>
              }
            </ul>
          </div>
        </div>
        }

        <button class="disabled:bg-gray-600" [disabled]="verifyEmail.invalid">
          Verify Email @if (isLoading()) {
          <span> <i class="fa-solid fa-spin fa-fan"></i> </span>
          }
        </button>
        @if(isSuccess()){
        <div
          class="flex items-center bg-[#c79794] justify-center p-2 text-sm text-white border border-green-300 rounded-lg dark:bg-gray-800 dark:text-green-400 dark:border-green-800"
          role="alert"
        >
          <span class="sr-only">Info</span>
          <div>
            <span class="text-2xl text-center pe-2"> {{ done() }}</span>
          </div>
          <i class="fa-solid text-2xl fa-face-smile-wink"></i>
        </div>
        } @if(isError()){
        <div
          class="flex p-2 mt-2 mb-2 rounded text-light text-white bg-[#D19C97] dark:bg-gray-800 dark:text-blue-400"
          role="alert"
        >
          <svg
            class="shrink-0 inline w-4 h-4 me-2 mt-[2px]"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 20 20"
          >
            <path
              d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
            />
          </svg>
          <span class="sr-only">Info</span>
          <div>
            <ul class="mt-1.5 list-disc list-inside">
              <li>{{ isError() }}</li>
            </ul>
          </div>
        </div>
        }
      </form>
    </div>
    } @else if (step()===2) {
    <div class="content w-[100%] sm:w-[70%]">
      <h1 class="text-[#D19C97] text-3xl mb-2 font-light text-center">
        Reset Code
      </h1>
      <form [formGroup]="verifyCode" (ngSubmit)="verifyCodeSubmit()">
        <div class="field mb-6">
          <input
            type="text"
            formControlName="resetCode"
            placeholder="resetCode"
          />
        </div>
        @let resetCode=verifyCode.get('resetCode'); @if
        (resetCode?.errors&&resetCode?.touched) {
        <div
          class="flex p-2 mt-2 mb-2 rounded text-sm text-white bg-[#D19C97] dark:bg-gray-800 dark:text-blue-400"
          role="alert"
        >
          <svg
            class="shrink-0 inline w-4 h-4 me-2 mt-[2px]"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 20 20"
          >
            <path
              d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
            />
          </svg>
          <span class="sr-only">Info</span>
          <div>
            <ul class="mt-1.5 list-disc list-inside">
              @if (resetCode?.getError('required')) {
              <li>Code Is Required</li>
              } @else if (resetCode?.getError('pattern')) {
              <li>Enter Valid Code</li>
              }
            </ul>
          </div>
        </div>
        }

        <button class="disabled:bg-gray-600" [disabled]="verifyCode.invalid">
          Verify Code @if (isLoading()) {
          <span> <i class="fa-solid fa-spin fa-fan"></i> </span>
          }
        </button>
        @if(isSuccess()){
        <div
          class="flex items-center bg-[#c79794] justify-center p-2 text-sm text-white border border-green-300 rounded-lg dark:bg-gray-800 dark:text-green-400 dark:border-green-800"
          role="alert"
        >
          <span class="sr-only">Info</span>
          <div>
            <span class="text-2xl text-center pe-2"> {{ isSuccess() }}</span>
          </div>
          <i class="fa-solid text-2xl fa-face-smile-wink"></i>
        </div>
        }
      </form>
    </div>
    } @else if (step()===3) {
    <div class="content w-[100%] sm:w-[70%]">
      <h1 class="text-[#D19C97] text-3xl mb-2 font-light text-center">
        Reset Password
      </h1>
      <form [formGroup]="resetPassword" (ngSubmit)="resetPasswordSubmit()">
        <div class="field mb-6">
          <input
            readonly
            type="email"
            formControlName="email"
            placeholder="Email"
          />
        </div>
        @let vemailControl=resetPassword.get('email'); @if
        (vemailControl?.errors&&vemailControl?.touched) {
        <div
          class="flex p-2 mt-2 mb-2 rounded text-sm text-white bg-[#D19C97] dark:bg-gray-800 dark:text-blue-400"
          role="alert"
        >
          <svg
            class="shrink-0 inline w-4 h-4 me-2 mt-[2px]"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 20 20"
          >
            <path
              d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
            />
          </svg>
          <span class="sr-only">Info</span>
          <div>
            <ul class="mt-1.5 list-disc list-inside">
              @if (vemailControl?.getError('required')) {
              <li>Email Is Required</li>
              } @else if (vemailControl?.getError('email')) {
              <li>Enter Valid Email</li>
              }
            </ul>
          </div>
        </div>
        }
        <div class="field mb-6">
          <input
            type="password"
            formControlName="newPassword"
            placeholder="Reset Password"
          />
        </div>
        @let resetpassControl=resetPassword.get('newPassword'); @if
        (resetpassControl?.errors&&resetpassControl?.touched) {
        <div
          class="flex p-2 mt-2 mb-2 rounded text-sm text-white bg-[#D19C97] dark:bg-gray-800 dark:text-blue-400"
          role="alert"
        >
          <svg
            class="shrink-0 inline w-4 h-4 me-2 mt-[2px]"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 20 20"
          >
            <path
              d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
            />
          </svg>
          <span class="sr-only">Info</span>
          <div>
            <ul class="mt-1.5 list-disc list-inside">
              @if (resetpassControl?.getError('required')) {
              <li>Password Is Required</li>
              } @else if (resetpassControl?.getError('pattern')) {
              <li>Enter New Valid Password</li>
              }
            </ul>
          </div>
        </div>
        }

        <button class="disabled:bg-gray-600" [disabled]="resetPassword.invalid">
          Reset Password @if (isLoading()) {
          <span> <i class="fa-solid fa-spin fa-fan"></i> </span>
          }
        </button>
        @if(isSuccess()){
        <div
          class="flex items-center bg-[#c79794] justify-center p-2 text-sm text-white border border-green-300 rounded-lg dark:bg-gray-800 dark:text-green-400 dark:border-green-800"
          role="alert"
        >
          <span class="sr-only">Info</span>
          <div>
            <span class="text-2xl text-center pe-2"> {{ isSuccess() }}</span>
          </div>
          <i class="fa-solid text-2xl fa-face-smile-wink"></i>
        </div>
        }
      </form>
    </div>
    }
  </div>
</section>
