<section class="z-20 sticky">
  <div class="flex justify-center items-center flex-col">
    <div class="content w-[100%] sm:w-[70%]">
      <h1 class="text-[#D19C97] text-3xl mb-2 font-light text-center">
        shipping Address
      </h1>
      <form [formGroup]="checkout" (ngSubmit)="submitForm()">
        <div class="field mb-6">
          <textarea
            type="text"
            formControlName="details"
            placeholder="Details"
          ></textarea>
        </div>
        @let detailsControl=checkout.get('details'); @if
        (detailsControl?.errors&&detailsControl?.touched) {
        <div
          class="flex p-2 mt-7 rounded text-sm text-white bg-[#D19C97] dark:bg-gray-800 dark:text-blue-400"
          role="alert"
        >
          <svg
            class="shrink-0 inline w-4 h-4 me-2 mt-[2px]"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 20 20"
          >
            <path
              d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
            />
          </svg>
          <span class="sr-only">Info</span>
          <div>
            <ul class="mt-1.5 list-disc list-inside">
              @if (detailsControl?.getError('required')) {
              <li>Details Is Required</li>
              } @else if (detailsControl?.getError('minlength')) {
              <li>Details Should be more than or equal 3 chars</li>
              }
            </ul>
          </div>
        </div>
        }

        <div class="field mb-6">
          <input type="phone" formControlName="phone" placeholder="Phone" />
        </div>
        @let phoneControl=checkout.get('phone'); @if
        (phoneControl?.errors&&phoneControl?.touched) {
        <div
          class="flex p-2 mt-7 rounded text-sm text-white bg-[#D19C97] dark:bg-gray-800 dark:text-blue-400"
          role="alert"
        >
          <svg
            class="shrink-0 inline w-4 h-4 me-2 mt-[2px]"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 20 20"
          >
            <path
              d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
            />
          </svg>
          <span class="sr-only">Info</span>
          <div>
            <ul class="mt-1.5 list-disc list-inside">
              @if (phoneControl?.getError('required')) {
              <li>Phone Is Required</li>
              } @else if (phoneControl?.getError('pattern')) {
              <li>Accept Only Egypt Phone Numbers</li>
              }
            </ul>
          </div>
        </div>
        }
        <div class="field mb-6">
          <input type="text" formControlName="city" placeholder="city" />
        </div>
        @let cityControl=checkout.get('city'); @if
        (cityControl?.errors&&cityControl?.touched) {
        <div
          class="flex p-2 mt-7 rounded text-sm text-white bg-[#D19C97] dark:bg-gray-800 dark:text-blue-400"
          role="alert"
        >
          <svg
            class="shrink-0 inline w-4 h-4 me-2 mt-[2px]"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 20 20"
          >
            <path
              d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
            />
          </svg>
          <span class="sr-only">Info</span>
          <div>
            <ul class="mt-1.5 list-disc list-inside">
              @if (cityControl?.getError('required')) {
              <li>City Is Required</li>
              } @else if (cityControl?.getError('minlength')) {
              <li>City Should be more than or equal 3 chars</li>
              }
            </ul>
          </div>
        </div>
        }

        <button class="disabled:bg-gray-600" [disabled]="checkout.invalid">
          Next @if (isLoading) {
          <span> <i class="fa-solid fa-spin fa-fan"></i> </span>
          }
        </button>
        @if(isSuccess){
        <div
          class="flex items-center bg-[#c79794] justify-center p-2 text-sm text-white border border-green-300 rounded-lg dark:bg-gray-800 dark:text-green-400 dark:border-green-800"
          role="alert"
        >
          <span class="sr-only">Info</span>
          <div>
            <span class="text-2xl text-center pe-2"> {{ isSuccess }}</span>
          </div>
          <i class="fa-solid text-2xl fa-face-smile-wink"></i>
        </div>
        } @if(msgErorr){
        <div
          class="flex p-2 mb-2 rounded text-light text-white bg-[#D19C97] dark:bg-gray-800 dark:text-blue-400"
          role="alert"
        >
          <svg
            class="shrink-0 inline w-4 h-4 me-2 mt-[2px]"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 20 20"
          >
            <path
              d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
            />
          </svg>
          <span class="sr-only">Info</span>
          <div>
            <ul class="mt-1.5 list-disc list-inside">
              <li>{{ msgErorr }}</li>
            </ul>
          </div>
        </div>
        }
      </form>
    </div>
  </div>
</section>
